{% assign pathToRoot = '' %}
{% assign depth = page.url | append: "nonempty" | split: '/' | size %}
{% if    depth <= 2 %}{% assign pathToRoot = '.' %}
{% elsif depth == 3 %}{% assign pathToRoot = '..' %}
{% elsif depth == 4 %}{% assign pathToRoot = '../..' %}
{% elsif depth == 5 %}{% assign pathToRoot = '../../..' %}
{% elsif depth == 6 %}{% assign pathToRoot = '../../../..' %}
{% elsif depth == 7 %}{% assign pathToRoot = '../../../../..' %}
{% elsif depth == 8 %}{% assign pathToRoot = '../../../../../..' %}
{% elsif depth == 9 %}{% assign pathToRoot = '../../../../../../..' %}
{% elsif depth == 10 %}{% assign pathToRoot = '../../../../../../../..' %}{% endif %}